{% extends "base.html" %}

{% block 'body' %}

<div class="relative isolate">
    <div class="py-14 sm:py-14">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                {% if consulta.paciente.foto %}
                    <img class="size-16 rounded-full" src="{{ consulta.paciente.foto.url }}" alt="">
                {% else %}
                    <img class="size-16 rounded-full" src="caminho/para/imagem_padrao.jpg" alt="">
                {% endif %}
                <p class="mt-4 text-pretty text-4xl font-semibold tracking-tight text-gray-800 sm:text-4xl">{{ consulta.paciente.nome|escape }}</p>
            </div>
        </div>
    </div>

    <div class="bg-slate-50 h-screen border-t-1 border-slate-200 ">
        <div class="max-w-7xl mx-auto px-6 lg:px-8 mt-6">
            {% if consulta.video %}
                <video class="w-full" controls>
                    <source src="{{ consulta.video.url }}" type="video/mp4">
                </video>
            {% else %}
                <p>Nenhum vídeo associado a esta consulta.</p>
            {% endif %}

            <div class="mt-8">
                <div class="mt-8 flow-root">
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                            <table class="min-w-full divide-y divide-gray-300 table-auto">
                                <caption>Tarefas da Consulta</caption>
                                <thead>
                                    </thead>
                                <tbody>
                                    {% for tarefa in consulta.tarefas.all %}
                                        <tr class="divide-x divide-gray-200">
                                            </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock 'body' %}